<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ClazzsMapper">
    <select id="getClazzsList" resultType="com.example.pojo.Clazz">
        select c.*,e.name masterName from clazz c left join emp e on c.master_id=e.id
        <where>
        <if test="name!=null and name!=''">
            c.name=#{name}
                </if>
        <if test="begin!=null">
            and c.end_date &gt; #{begin}
        </if>
            <if test="end!=null">
            and    c.end_date &lt; #{end}
            </if>
        </where>
    </select>
    
    <delete id="deleteById">
        delete from clazz where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="addClazzs" parameterType="com.example.pojo.Clazz">
        insert into clazz
        (name, room, begin_date, end_date, master_id, subject, create_time, update_time)
        values
            (#{name}, #{room}, #{beginDate}, #{endDate}, #{masterId}, #{subject}, #{createDate}, #{updateTime})
    </insert>

    <select id="queryClazzsById" resultType="com.example.pojo.Clazz">
        select id,name,room,begin_date,end_date,master_id,subject,create_time createDate,update_time
        from clazz where id=#{id}
    </select>

    <update id="updateClazzs" parameterType="com.example.pojo.Clazz">
        update clazz set
                         <if test="name!=null and name!=''">
                             name=#{name},
                         </if>
                             <if test="room!=null and room!=''">
                             room=#{room},
                         </if>
                             <if test="beginDate!=null">
                             begin_date=#{beginDate},
                         </if>
                             <if test="endDate!=null">
                             end_date=#{endDate},
                         </if>
                             <if test="masterId!=null and masterId!=''">
                             master_id=#{masterId},
                         </if>
                             <if test="subject!=null and subject!=''">
                             subject=#{subject},
                         </if>
                             update_time=#{updateTime} where id=#{id}
    </update>

    <select id="listClazzs" resultType="com.example.pojo.Clazz">
        select c.id,c.name,room,begin_date,end_date,master_id,subject,c.create_time createDate,c.update_time,e.name masterName
        from clazz c left join emp e on c.master_id =e.id
    </select>

    <select id="getStudentCountData">
        SELECT c.name, COUNT(s.id) data FROM clazz c LEFT JOIN student s ON c.id = s.clazz_id GROUP BY c.id
    </select>

</mapper>